{
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "React": "writable"
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "arrowParens": "avoid"
      }
    ],
    "comma-dangle": [
      "off",
      "never"
    ],
    "no-unused-vars": "warn",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "no-return-assign": "off",
    "no-underscore-dangle": "off",
    "prefer-promise-reject-errors": "off",
    "consistent-return": "warn",
    "prefer-const": "warn",
    "no-use-before-define": "warn",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/anchor-is-valid": "off"
  }
}